{% extends "layout.html" %}

{% block title %}
Home
{% endblock title %}

{% block main  %}

<div class="container mt-4">
  <button type="button" style="background-color:grey">
    Text
  </button>
  <a href="/speech"><button type="button">
    Speech
  </button></a>
  <button type="button">
    Image
  </button>
</div>
  
  
  

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="mb-3">
    <input type="text" id="dropdownSearch1" class="form-control mb-2" placeholder="Search language..." onkeyup="filterDropdown(1)">
    <select id="languageSelect1" class="form-select">

    </select>
  </div>
      <textarea id="text" class="form-control" placeholder="Input" rows="13"></textarea>
    </div>
    <div class="col">


  <div class="mb-3">
    <input type="text" id="dropdownSearch2" class="form-control mb-2" placeholder="Search language..." onkeyup="filterDropdown(2)">
    <select id="languageSelect2" class="form-select">
      <!--options-->
    </select>
  </div>
      <textarea class="form-control" id="out" placeholder="Output" disabled rows="13"></textarea>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col text-center">
      <button id="translate">
        Translate
      </button>
    </div>
  </div>
</div>

<script>

  document.addEventListener("DOMContentLoaded",function(){
    filterDropdown(1);
    filterDropdown(2);
    document.getElementById("translate").addEventListener('click', async function(){

      const text = document.getElementById("text").value;
      const inp_lang = document.getElementById("languageSelect1").value;
      const out_lang = document.getElementById("languageSelect2").value;

      const res = await fetch("/translate_text",{
        method:"POST",
        headers:{
          "Content-Type":"application/json"
        },
        body: JSON.stringify({
          text:text,
          inp_lang:inp_lang,
          out_lang:out_lang

        })
      });

      const data = await res.json();
      if (data.translated){
        document.getElementById("out").innerText = data.translated;
      }
      else{
        document.getElementById("out").innerText = "Error, reload";
      }
    });
  })


async function filterDropdown(num) {
  const query = document.getElementById("dropdownSearch" + num).value;

  const res = await fetch("/", {
    method: "POST",
    headers: {
      "Content-Type": "application/json"
    },
    body: JSON.stringify({ q: query }) 
  });

  const data = await res.json();

  const select = document.getElementById("languageSelect" + num);
  select.innerHTML = ""; 

  data.forEach(lang => {
    const option = document.createElement("option");
    option.value = lang.code;  
    option.textContent = lang.language;
    select.appendChild(option);
  });
}


</script>







{% endblock  %}