{% extends "layout.html" %}

{% block title %}
Home
{% endblock title %}

{% block main  %}

<div class="container mt-4">
  <button type="button" style="background-color:grey">
    Text
  </button>
  <a href="/speech"><button type="button">
    Speech
  </button></a>
  <a href="/image"><button type="button">
    Image
  </button></a>
</div>
  
  
  

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="mb-3">
    <input type="text" id="dropdownSearch1" class="form-control mb-2" placeholder="Search language..." >
    <select id="languageSelect1" class="form-select">

    </select>
  </div>
      <textarea id="text" class="form-control" placeholder="Input" rows="13"></textarea>
    </div>
    <div class="col">


  <div class="mb-3">
    <input type="text" id="dropdownSearch2" class="form-control mb-2" placeholder="Search language..." >
    <select id="languageSelect2" class="form-select">
      <!--options-->
    </select>
  </div>
      <textarea class="form-control" id="out" placeholder="Output" disabled rows="13"></textarea>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col text-center">
      <button id="translate">
        Translate
      </button>
    </div>
  </div>
</div>

<script type="module" src="/static/scripts/text.js">




</script>







{% endblock  %}