{% extends "layout.html" %}

{% block title %}Home{% endblock title %}

{% block main %}
<div class="container mt-4 d-flex gap-2">
  <a href="/"><button type="button" >Text</button></a>
  <button type="button"  disabled style="background-color:grey">Speech</button>
  <button type="button">Image</button>
</div>

<div class="container mt-5">
  <div class="row g-4">
    <div class="col-md-6 d-flex flex-column align-items-center justify-content-top">
      <h3 class="mb-3">Record Your Speech</h3>
      <button id="record" class="mb-3">Start Recording</button>
      <textarea 
        class="form-control" 
        id="in" 
        placeholder="Speech will appear here..." 
        disabled 
        rows="13"
      ></textarea>
    </div>

    <div class="col-md-6">
      <div class="mb-3">
        <input 
          type="text" 
          id="dropdownSearch2" 
          class="form-control mb-2" 
          placeholder="Search language..." 
          onkeyup="filterDropdown(2)" 
          autocomplete="off"
        >
        <select id="languageSelect2" class="form-select">
          <!-- options -->
        </select>
      </div>
      <textarea 
        class="form-control" 
        id="out" 
        placeholder="Output will appear here..." 
        disabled 
        rows="13"
      ></textarea>
    </div>
  </div>
</div>





<script src="static/speech.js">



</script>







{% endblock  %}