{% extends "layout.html" %}

{% block title %}Home{% endblock title %}

{% block main %}
<div class="container mt-4 d-flex gap-2">
  <a href="/"><button type="button" >Text</button></a>
  <button type="button"  disabled style="background-color:grey">Speech</button>
  <button type="button">Image</button>
</div>

<div class="container mt-5">
  <div class="row g-4">
    <div class="col-md-6 d-flex flex-column align-items-center justify-content-top">
      <h3 class="mb-3">Play Your Speech</h3>
      <audio controls src="{{ url_for('translation_audio', trans_id=recent.id) }}"></audio>
      <textarea 
        class="form-control mt-4" 
        id="in" 
        placeholder="Speech will appear here..." 
        disabled 
        rows="13"
      >{{ recent.original_text }}</textarea>
    </div>

    <div class="col-md-6">
      <div class="mb-3">
        
        <select id="languageSelect2" class="form-select mt-5" disabled >
          <option selected>{{recent.output_language}}</option>
        </select>
      </div>
      <textarea 
        class="form-control mt-4" 
        id="out" 
        placeholder="Output will appear here..." 
        disabled 
        rows="13"
      >{{recent.translated_text}}</textarea>
    </div>
  </div>
</div>





<script src="/static/scripts/viewSpeech.js" type="module"></script>







{% endblock  %}